# Python Programming Part-2

## Problem Set - 2

### Question 1:
### Consider the following Python module:

In [1]:
a = 0   # a is a global variable.

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

<pre>
<code>
After excecuting each statement, Value of a is 6.
<b>Explanation:</b>

a is declared outside of a function. 
Thus, it is a global variable used both inside and outside of a function.
a=0
 
1. invoke b() for 1st time.
    function b() calls c(),
    c() evaluate a+2 i.e 0+2
    c() retuns the value to b() which is stored in a. updated value of a is 2.
a=2
2. invoke b() for 2nd time.
    function b() calls c(),
    c() evaluate a+2 i.e 2+2
    c() retuns the value to b() which is stored in a. updated value of a is 4.
a=4
3. invoke b() for 3rd time.
    function b() calls c(),
    c() evaluate a+2 i.e 4+2
    c() retuns the value to b() which is stored in a. updated value of a is 6.

<b>Therefore, final value of a is 6.</b>
<pre>
<code>

### Question 2:

### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [6]:
def fileLength(filename):            #define fileLength() function
    count=0
    try:
        infile = open(filename,'r')  #open file with read mode
        count = infile.read()
        return len(count)            #return the length of file.
     
    except:                          #try and except to handle the raised exception when file not found.
        print("File not found")

In [7]:
fileLength("Set_2_files/filelength.txt")

123

In [8]:
fileLength("length.txt")

File not found

### Question 3:

### Working with class in python

### Extends super class

In [7]:
class  Marsupial: #Base Class
    def __init__(self):
        'instantiates an empty list'
        self.pouch = []
        
        
    def put_in_pouch(self,value):
        'append value into list'
        self.pouch.append(value)
        
    def pouch_contents(self):
        'print content of pouch'
        print(self.pouch)

class Kangaroo(Marsupial): #subclass Kangaroo
    
    def __init__(self,x,y):
        'extends superclass __init__ method'
        Marsupial.__init__(self)
        self.x=x
        self.y=y

    def jump(self,dx,dy):
        self.dx=dx
        self.dy=dy
        self.x = self.x + self.dx
        self.y = self.y + self.dy
        
    def __str__(self):
        'overloads __str__ operator'
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y)

In [8]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [9]:
 m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [11]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

In [12]:
 k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [13]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

In [14]:
dir(Marsupial)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'pouch_contents',
 'put_in_pouch']

### Question 4

### Implement a new GUI class App that combines user-defined tkinter widget classes Calculator and Mortgage

In [35]:
from tkinter import Tk, Entry, Button, Text, Label, RAISED
root = Tk()  #object of tk()


root.geometry("600x140") #Size of an output window

label = Label(master=root)
label.grid(row=0,column=3)


labels = [['MC', 'M+', 'M-', 'MR'],     
          ['c', 'sqrt', 'x2','+'],     
          ['7', '8', '9','-'],
          ['4', '5', '6','*'],
          ['1', '2', '3','/'],
         ['0', '.', '+-','=']]

for r in range(1,6):
    for c in range(0,4):
        #create label for row r and column c
        label = Label(master=root,
                      relief=RAISED,      
                      padx=20,            
                      text=labels[r][c], height=1, width=5)
        # place label in row r and column c
        label.grid(row=r, column=c+4)

label1 = Label(master=root, text='Loan Amount:', width=16)
label1.grid(row=1, column=0)

Ent1 = Entry(master=root)
Ent1.grid(row=1, column=1)

label2 = Label(master=root, text='Interest rate:')
label2.grid(row=2, column=0)

Ent2 = Entry(master=root)
Ent2.grid(row=2, column=1)

label3 = Label(master=root, text='Loan Terms:')
label3.grid(row=3, column=0)

Ent3 = Entry(master=root)
Ent3.grid(row=3, column=1)

button = Button(master=root,text='Computer Mortgage')  
button.grid(row=4, column=0)  

Ent4 = Entry(master=root)
Ent4.grid(row=4, column=1)


#label = Label(root)
root.mainloop()

### Question 5

### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
<pre><code>
x  =  洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n     3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬d
</code></pre>

In [37]:
def collatz(n):
    if n % 2 == 0:      #compute if statement, if n is even
        print(n//2)
        return(n//2)
    else:              #compute else statement, if n is odd
        odd = 3 * n + 1
        print(odd)
        return odd
n = input("enter the value of n:") #User input positive number
n=int(n)
while n!=1:
    n=collatz(n)

enter the value of n:10
5
16
8
4
2
1

### Question 6:

### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [38]:
#Recursive binary() function print binary representation of any number
def binary(number): 
    if number > 1: 
        binary(number // 2)
        
    print(number % 2,end="")

In [39]:
binary(10)

1010

In [40]:
binary(34)

100010

### Question 7:

### Working with HTMLParser

In [2]:
from html.parser import HTMLParser
class HeadingParser (HTMLParser): 
    
    Tag_available = False
    indent=0
    
    def handle_starttag(self, tag,attrs):
        'Search for the heading tag'
        if tag in ["h1","h2","h3","h4","h5","h6"]:
            self.Tag_available=True
            if tag == "h1":
                self.indent=0;
            if tag == "h2":
                self.indent=1;
            if tag == "h3":
                self.indent=2;
            if tag == "h4":
                self.indent=3;
            if tag == "h5":
                self.indent=4;
            if tag == "h6":
                self.indent=5;
                               
                       
    def handle_endtag(self, tag):
        'Search for the end tag'
        if tag in ["h1","h2","h3","h4","h5","h6"]:
            self.Tag_available=False
            
    def handle_data(self,data):
        if self.Tag_available:
            #print (data)
            self.indent
            'print data of heading tag with specified indentation'
            print('{}{}'.format(self.indent*' ', data))

In [3]:
infile = open('set_2_files/W3C.html') 
content = infile.read() 
infile.close()

In [4]:
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

### Question 8:

### Working with LinkParser

In [46]:
from urllib.request import urlopen
from html.parser import HTMLParser
class LinkParser(HTMLParser):

    def handle_starttag(self, tag, attrs):
        'print value of href attribute if any'
        if tag == 'a':
            # search for href attribute and print its value
            for attr in attrs:
                if attr[0] == 'href':
                    print(attr[1])

In [47]:
url = 'http://www.w3.org/Consortium/mission.html'
resource = urlopen(url)
content = resource.read().decode()
linkparser = LinkParser()
linkparser.feed(content)

/
/standards/
/participate/
/Consortium/membership
/Consortium/
/Consortium/
/Consortium/facts.html
/Consortium/presskit.html
/Consortium/sponsor/
/Consortium/Recruitment/
/Consortium/contact.html
/Help/
#w3c_content_body
/
/Consortium/
#openstand
#principles
#vision
http://open-stand.org/principles/
http://open-stand.org/
/WAI/
/International/
/standards/webofdevices/
/Mobile/
/standards/agents/Overview.html
/standards/webdesign/
/standards/webarch/
/standards/xml/
/standards/semanticweb/
/standards/webofservices/
/standards/semanticweb/
/standards/xml/security
/standards/webofservices/security
/standards/webdesign/privacy
/
/standards/
/participate/
/Consortium/membership
/Consortium/
/Consortium/contact
/Help/
/Consortium/sup
/Consortium/siteindex
http://lists.w3.org/Archives/Public/site-comments/
http://twitter.com/W3C
http://www.csail.mit.edu/
http://www.ercim.org/
http://www.keio.ac.jp/
http://ev.buaa.edu.cn/
/Consortium/Legal/ipr-notice

### Question 9:

### Write SQL Query for the given database.

In [66]:
#import sqlite3 library
import sqlite3

#Connect with database
con = sqlite3.connect('weather.db')
cur = con.cursor()

In [50]:
#Create table season in weather database
cur.execute("CREATE TABLE weather_data (City text, Country text, Season text, temperature float, rainfall float)")

In [51]:
#insert records in season table
cur.execute("Insert into weather_data values('Mumbai','India','Winter',24.8,5.9)")
cur.execute("Insert into weather_data values('Mumbai','India','Fall', 27.6, 346.0 )")
cur.execute("Insert into weather_data values('Mumbai','India','Spring',28.4 ,16.2 )")
cur.execute("Insert into weather_data values('Mumbai','India','Summer', 27.9 ,1549.4)")
cur.execute("Insert into weather_data values('London', 'United Kingdom', 'Winter', 4.2, 207.7 )")
cur.execute("Insert into weather_data values('London', 'United Kingdom','Spring', 8.3, 169.6)")
cur.execute("Insert into weather_data values('London', 'United Kingdom', 'Summer', 15.7, 157.0  )")
cur.execute("Insert into weather_data values('London', 'United Kingdom', 'Fall', 10.4, 218.5  )")
cur.execute("Insert into weather_data values('Cairo','Egypt', 'Winter', 13.6, 16.5 )")
cur.execute("Insert into weather_data values('Cairo','Egypt', 'Spring', 20.7, 6.5  )")
cur.execute("Insert into weather_data values('Cairo','Egypt', 'Summer', 27.7, 0.1  )")
cur.execute("Insert into weather_data values('Cairo','Egypt', 'Fall', 22.2, 4.5  )")

In [52]:
#display records
cur.execute("select * from weather_data")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [53]:
#a) All the temperature data.
cur.execute("Select temperature from weather_data")
cur.fetchall()

[(24.8,),
 (27.6,),
 (28.4,),
 (27.9,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [54]:
#b) All the cities, but without repetition.
cur.execute("Select distinct city from weather_data")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [55]:
#c) All the records for India.
cur.execute("Select * from weather_data where Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4)]

In [56]:
#d)All the Fall records.
cur.execute("Select * from weather_data where Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [67]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute("Select City, Country,Season from weather_data where rainfall between 200 and 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [68]:
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cur.execute("Select City, Country,Temperature from weather_data where Season = 'Fall' and Temperature > 20 Order by Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

In [60]:
#g)The total annual rainfall for Cairo.
cur.execute("Select sum(rainfall) from weather_data where city='Cairo'")
cur.fetchall()

[(27.6,)]

In [61]:
#h)The total rainfall for each season.
cur.execute("Select Season, sum(rainfall) from weather_data group by Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [62]:
#Commit connection
con.commit()

In [69]:
#Close Connection
con.close()

### Question 10:

### Write list comprehension expressions that use list words and generate the list.

In [64]:
#List Comprehension
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

words_a = [word.upper() for word in words] #List Comprehension with upper() function
print(words_a)

words_b = [word.lower() for word in words] #List Comprehension with lower() function
print(words_b)

words_c = [len(word) for word in words] #List Comprehension with len() function
print(words_c)

word_d = []
word_d = [[word.upper(),word.lower(),len(word)] for word in words] 
print(word_d)
          
word_c = [word for word in words if len(word)>=4] #word with length greater than 4.
print(word_c)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']